body{
    justify-content: center;
    align-items: center;
}

#all{
width: 800px;
height: 600px;
margin:0 auto;
}

#top{
    position: absolute;
    width: 800px;
    height: 80px;
    background-color: #912476;
}

#middle{
    position: absolute;
    top: 88px;
    width: 800px;
    height: 80px;
    background-color: #1c19c9;
}

#main{
width: 800px;
height: 100%;
background-color: #c52f15;
}

#left{
    height: 100%;
    width: 150px;
    float: left;
    background-color: #a01717;
}

#right{
    height: 100%;
    width: 150px;
    float: right;
    background-color: #912424;
}

#bottom{
    position: absolute;
    width: 800px;
    height: 80px;
    top: 528px;
    background-color: #094dcc;
}

